################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.lock
*.suo
/StudyML/OCR/OCRForms/OCRForms/tessdata-main.zip
